<header class="header">
      
        <div class="container-fluid">

          <div class="row">

            <img src="images/ph-logo.png" alt="" class="img-responsive" width="30px" height="30px">

            <div class="col-md-4 left">

            <p class="header_title" ng-hide="hideDetails">PharmHub</p>

            <a ng-href="" class="header_toggle" ng-click="hideDetails=!hideDetails">

            <i class="fa fa-align-justify fa-2x" aria-hidden="true"></i>

            </a>

          </div>

          <div class="col-md-2 col-md-offset-6 right">

          <img src="images/profile.png" alt="" class="img-responsive icon-profile">

            <!-- Single button -->
              <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">{{username}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href=""><i class="fa fa-user" aria-hidden="true"></i>Профиль</a></li>
                  <li role="menuitem"><a ng-href="#/login"><i class="fa fa-sign-out" aria-hidden="true"></i>Выход</a></li>
                 
                </ul>
              </div>

          </div>

            

            
          </div>
          
        </div>

 </header>

<aside class="sidebar fixed" ng-class="{ 'toggle': hideDetails }">
  
  <ul ng-cloak>

    <li>

      <a ng-href="#" ui-sref="home.lenta" lass="sidebar_link-lenta">

        <i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>

        <span class="sidebar_item-lenta" ng-hide="hideDetails">Лента событий</span>
        
      </a>
      
    </li>

    <li>

      <a ng-href="#" ui-sref="home.dashboard" class="sidebar_link-building">

      <i class="fa fa-building-o fa-2x" aria-hidden="true"></i>

      <span class="sidebar_item-building" ng-hide="hideDetails">Предприятия</span>

      </a>
      
    </li>

    <li>

      <a ng-href="#" ui-sref="home.settings" class="sidebar_link-cog">

      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>

      <span class="sidebar_item-cog" ng-hide="hideDetails">Настройки</span>
      
      </a>
     
    </li>
    
  </ul>

</aside>


  <div ui-view></div>




  

