.filled {

	color: #1a237e;
	transform: scale(0.85) translateY(-25px) translateX(-6px);

}

.wrapper {

	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin-bottom: 139px;
	margin-top: 180px;
	outline: none !important;
	padding: 7px 10px;

	.form-title {

		font-size: 18px;
    	color: rgba(0, 0, 0, 0.87);
    	font-family: Roboto, sans-serif;
    	font-weight: 400;
    	line-height: 18px;
    	margin-bottom: 20px;
    	padding: 5px 5px;
    	
	}

	.form-group-username,
	.form-group-password {

		position: relative;
		height: 46px;
		margin-bottom: 20px;

	}

	.form-group_label-login,
	.form-group_label-password {

		color: #9e9e9e;
		display: inline-block;
		font: 400 14px/17px Roboto, sans-serif;
		min-height: 32px;
		padding-right: 5px;
		padding-top: 8px;
		position: relative;
		transition: transform 0.2s;
		
	}

	.form-control_username {

		position: absolute;
		top: 5px;

		&:focus + .form-group_label-login {

			color: #1a237e;
			transform: scale(0.85) translateY(-25px) translateX(-6px);

		}

		&:focus	{

	    	border-bottom: 1px solid #1a237e !important;
			
		}

	}

	.form-control_password {

		position: absolute;
		top: 5px;

		&:focus + .form-group_label-password {

			color: #1a237e;
			transform: scale(0.85) translateY(-25px) translateX(-6px);

		}

		&:focus {

	    	border-bottom: 1px solid #1a237e !important;
			
	    }

	}

	.form-control_username,
	.form-control_password {

		@extend %inputs;

	}

	.help-block {

		color: red;
		margin-bottom: 0;
	}

	.checked {

		color:#3892d4;

	}

	.fa {

		font-size: 18px;
		margin-right: 5px;
		width:13px;

	}

	.btn-default {

		background-color: inherit;
		border: none;
		color: rgba(0, 0, 0, 0.87);
		font-family: Roboto, sans-serif;
		font-size: 14px;
		font-weight: 400;
		padding: 0;

    	&:hover {

    		background-color: inherit;
    		color: rgba(0, 0, 0, 0.87);

    	} 

    	&:active {

			background-color: inherit;

    	}

	}

	.form-actions {

		@include align-items(center);	
		@include flex-direction(row);
		@include flexbox;
		@include justify-content(center);
		margin-top: 10px;

		.btn {
	
			@extend %inline-flex;
			@include flex-wrap(nowrap);
			background:#fff;
			border-radius: 0;
			border: none;
			color: $base-color !important;
			font-size: 16px !important;
			font-weight: 600 !important;
			opacity: 1;

	   	}

	}

}