<div class="wrapper-contant" ng-class="{ 'toggle-wrapper': hideDetails }">


<section class="section-lenta">

  <div class="container">

    <div class="row">

      <div class="page-header">

        <form class="form-inline">

          <div class="form-group_search">

          <input type="text" name="search" class="form-control_search" id="search" ng-model="search">

          <label for="search" class="form-group_label-search" ng-class="{'filled': (search.length > 0)}">Поиск по пользователю</label>

          <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>  

          </div>

          <div class="form-group_datato">

          <input type="data" name="datato" ng-model="datato" class="form-control_datato" id="datato">

          <label for="datato" class="form-group_label-datato">Показывать события с</label>

          <a href=""><i class="fa fa-calendar" aria-hidden="true"></i></a>   
      
          </div>

         <div class="form-group_datado">

          <input type="data" name="datado" ng-model="datado" class="form-control_datado" id="datado">

          <label for="datado" class="form-group_label-datado">по</label>

          <a href=""><i class="fa fa-calendar" aria-hidden="true"></i></a>

          </div>

          <div class="form-group_sort" uib-dropdown is-open="status.isopen2">

            <input type="text" name="sort" ng-model="sort.title" class="form-control_sort" id="sort">

            <label for="sort" class="form-group_label-sort">Поиск по типу</label>

            <a href="" uib-dropdown-toggle ng-disabled="disabled"><i class="fa fa-caret-down" aria-hidden="true"></i></a>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">

                  <li role="menuitem" class="sort-list-selected" ng-click="set('Все')">Все</li>

                  <li role="menuitem" class="sort-list-item" ng-click="set('Ошибка входа')">Ошибка входа</li>

                  <li role="menuitem" class="sort-list-item" ng-click="set('Загрузка прайсов')">Загрузка прайсов</li>

                  <li role="menuitem" class="sort-list-item" ng-click="set('Ошибка настроек FTP')">Ошибка настроек FTP</li>

                  <li role="menuitem" class="sort-list-item" ng-click="set('Договора')">Договора</li>
                 
            </ul>

          </div>
         </form>

      </div>

    </div>

      <div class="row">

        <ul>

          <li ></li>

        </ul>


        
      </div>

  </div>

</section>

</div>
